In [1]:
from arcgis.gis import GIS
gis = GIS('https://slustl.maps.arcgis.com/home', 'wfmjr68')

Enter password: ········

In [3]:
import os
data_oldname = 'stl_boundary_wfm.zip'
data = 'stl_boundary_wfm_v2.zip'

os.rename(data_oldname, data)

In [4]:
stl = gis.content.add({'title':'St. Louis Boundary WFM', 'tags':'St. Louis'}, data)

In [5]:
published_stl = stl.publish()

In [10]:
published_stl.share(org = True)

{'notSharedWith': [], 'itemId': '0b2f018681934160971d3a42350cff6a'}

In [11]:
stl_map.add_layer(published_stl)

NameError: name 'stl_map' is not defined

In [13]:
streets_oldname = 'streets_wfm.zip'
streets = 'streets_wfm_v2.zip'

os.rename(streets_oldname, streets)

In [19]:
streets_shp = gis.content.add({'title':'St. Louis Streets WFM', 'tags':'St. Louis'}, streets)

In [20]:
published_streets = streets_shp.publish()

In [22]:
published_streets.share(org = True)

{'notSharedWith': [], 'itemId': 'c55ef360a8ec46998a1324f02cd0db2d'}

In [23]:
from arcgis.features import FeatureLayer

In [36]:
fl = FeatureLayer(published_streets.layers[1].url, gis=gis)

In [37]:
fl_query_layer = fl.query()

In [38]:
sdf = fl_query_layer.df

In [39]:
sdf.head()

,ANGLE,CLASS,DISPLAY,EDITOR,FID,FROMLEFT,FROMRIGHT,HANDLE,NHD_NAME,NHD_NUM,...,STREETTYPE,SUFDIR,Shape__Length,TOLEFT,TORIGHT,UPDATED,WARD,ZCTA,ZIP_CODE,SHAPE
0,0,A41,Y,,1,-1,4000,1001204000,Penrose,69,...,BLVD,,120.202951,-1,4030,NaN,1,63115,63115,"{'paths': [[[-10046575.312456, 4675769.2060746..."
1,0,A41,Y,,2,2960,-1,1000402960,Midtown,37,...,ST,,131.376770,2998,-1,NaN,6,63103,63103,"{'paths': [[[-10043345.0593996, 4669462.182410..."
2,0,A41,Y,,3,-1,4100,1001204100,Penrose,69,...,BLVD,,185.570672,-1,4140,NaN,1,63115,63115,"{'paths': [[[-10046518.5975952, 4675875.188025..."
3,0,A41,Y,,4,3000,3001,1000403000,Midtown,37,...,ST,,197.575282,3098,3099,NaN,6,63103,63103,"{'paths': [[[-10043471.921728, 4669496.0203678..."
4,0,A41,Y,,5,4101,-2,1001204101,Mark Twain I-70 Industrial,70,...,BLVD,,186.015803,4155,-2,NaN,22,63115,63115,"{'paths': [[[-10046549.9565572, 4675892.387723..."

In [40]:
len (sdf[sdf['NHD_NAME']=='Midtown'])

555